<app-navbar></app-navbar>
<div class="container mt-4 aparecer">
    <h1>Usuarios registrados</h1>
    <div class="row justify-content-end mt-3">
        <mat-form-field class="col-md-6">
            <mat-label>Ordenar por</mat-label>
            <mat-select [(ngModel)]="ordenamiento">
                <mat-option value="dni" (click)="traerTodos(0,ordenamiento)">DNI</mat-option>
                <mat-option value="name" (click)="traerTodos(0,ordenamiento)">Nombre</mat-option>
                <mat-option value="role" (click)="traerTodos(0,ordenamiento)">Rol</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-6">
            <mat-label>Buscar por DNI</mat-label>
            <input type="text" matInput name="query" [(ngModel)]="query" (input)="buscarUsuarios()">
        </mat-form-field>
    </div>
    <div class="table-responsive">
        <table class="table mt-4 p-2 text-center ">
            <thead class="table-dark">
                <tr>
                    <th scope="col">DNI</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios, let i = index">
                    <td>{{usuario.dni}}</td>
                    <td>{{usuario.name}}</td>
                    <td>{{usuario.lastname}}</td>
                    <td *ngIf="usuario.role === 'ADMIN'">Vendedor</td>
                    <td *ngIf="usuario.role === 'USER'">Cliente</td>
                    <td>
                        <button class="btn btn-verde" *ngIf="usuario.role === 'USER'"
                            (click)="asignarRol(usuario.id)">Asignar como vendedor</button>
                        <button class="btn btn-verde" *ngIf="usuario.role === 'ADMIN'"
                            (click)="asignarRol(usuario.id)">Asignar como cliente</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center mt-4 mb-4">
        <div class="col-md-6 text-center">
            <div class="btn-group" role="group" aria-label="First group">
                <button type="button" class="btn btn-outline-verde" *ngFor="let numero of numeros"
                    (click)="traerTodos(numero-1,ordenamiento)">{{numero}}</button>
            </div>
        </div>
    </div>
</div>