<app-navbar></app-navbar>
<div class="container mt-4 mb-3 aparecer">
  <div class="d-flex justify-content-between align-items-center">
    <h1 *ngIf="rol === 'USER'">Ver Compra</h1>
    <h1 *ngIf="rol === 'ADMIN'">Ver Venta</h1>
    <a routerLink="/mis-compras" *ngIf="rol === 'USER'">Volver</a>
    <a routerLink="/ventas" *ngIf="rol === 'ADMIN'">Volver</a>
  </div>
  <div class="mt-2 d-flex justify-content-between ">
    <div>
      <h5>Dni del usuario: <b>{{compra.user.dni}}</b></h5>
      <h6 class="mt-3" style="color:#fff">Fecha: <b>{{compra.date}}</b></h6>
    </div>
    <div>
      <h5>Tipo de entrega: <b>{{compra.type}}</b></h5>
      <h6 class="mt-3" style="color:#fff" *ngIf="compra.type === 'Envio a domicilio'">Domicilio de envio: <b>{{compra.residence.province}} - {{compra.residence.locality}}, 
        {{compra.residence.street}} - {{compra.residence.residenceNumber}}
      </b></h6>
    </div>
  </div>
  <table id="tabla" class="table mt-4 p-2 text-center">
    <thead>
      <tr>
        <th scope="col">ID producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Nombre</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of compra.products;">
        <td>{{producto.code}}</td>
        <td>{{producto.price}}$</td>
        <td>{{producto.name}}</td>
        <td>
          <button class="btn btn-verde " [routerLink]="'/ver-producto/'+producto.code">Ver producto</button>
        </td>
      </tr>
      <tr class="table-success">
        <td>TOTAL</td>
        <td>{{compra.total}}$</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="mt-3">
    <a class="btn btn-verde" id="btnExportar" value="Imprimir" onclick="javascript:window.print()">Descargar ticket</a>
  </div>
  <div class="row mt-4 aparecer" *ngIf="!compra.paid && compra.ready && rol === 'USER' && compra.type === 'Entrega presencial'">
    <div class="col-md-12">
      <div class="alert alert-warning">
        <p>Su entrega ya esta lista para que pueda retirarla en el local, sin embargo no esta paga aun, (puede pagarla directamenente en el local)</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="rol === 'USER' && !compra.paid">
    <div class="col-md-12">
      <mat-card class="ps-3 pe-3 pt-2 pb-2 mt-4">
        <p>Por favor realice el pago con la informacion debajo, descarge el ticket de compra, y envie el comprobante de
          pago + ticket descargado a
          <a href="mailto:tienda@hotmail.com">tienda@hotmail.com</a>
        </p>
      </mat-card>
    </div>
    <div class="col-md-6 mt-3" *ngIf="!compra.paid">
      <mat-card class="p-2 pago-info">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <h1 class="text-center">Transferencia bancaria</h1>
            <h6 class="text-center mt-3">Nombre completo: <b>Nombre completo aca</b></h6>
            <h6 class="text-center mt-3">Alias: <b>Alias aca</b></h6>
            <h6 class="text-center mt-3">CBU: <b>CBU aca</b></h6>
            <h6 class="text-center mt-3">Banco: <b>Banco aca</b></h6>
            <h6 class="text-center mt-3">Total: <b>{{compra.total}}$</b></h6>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row mt-4 aparecer" *ngIf="compra.paid && !compra.ready && rol === 'USER'">
    <div class="col-md-12">
      <div  *ngIf="compra.type === 'Entrega presencial'" class="alert alert-success">
        <p>Hemos recibido tu pago!, cuando su pedido este disponible para ser retirado, su estado de compra cambiara a 'Listo'</p>
      </div>
      <div  *ngIf="compra.type === 'Envio a domicilio'" class="alert alert-success">
        <p>Hemos recibido tu pago!, cuando su pedido este disponible para ser enviado, (y sea enviado), su estado de compra cambiara a 'Listo'</p>
      </div>
    </div>
  </div>
  <div class="row mt-4 aparecer" *ngIf="compra.paid && compra.ready && !compra.completed && rol === 'USER'">
    <div class="col-md-12">
      <div class="alert alert-success"  *ngIf="compra.type === 'Entrega presencial'" class="alert alert-success">
        <p>Su compra ya esta lista y paga!, ya puede acercarse y retirarla en el local</p>
      </div>
      <div class="alert alert-success"  *ngIf="compra.type === 'Envio a domicilio'" class="alert alert-success">
        <p>Su compra ya esta lista y paga!, en breve llegara a su domicilio</p>
      </div>
    </div>
  </div>
  <div class="row mt-4 aparecer" *ngIf="compra.completed">
    <div class="col-md-12">
      <div class="alert alert-success"  *ngIf="compra.type === 'Entrega presencial'" class="alert alert-success">
        <p>Su compra ya fue realizada y entregada con exito!</p>
      </div>
    </div>
    
  </div>
</div>