<header>
    <nav class="navbar bg-dark  p-3" data-bs-theme="dark">
        <div class="container justify-content-between">
            <div class="d-flex align-items-center">
                <img src="../../../assets/img/woman-clothes.png" alt="" width="40px">
                <h1 class="fs-3 ms-2">Clothing store</h1>
            </div>
            <div class="d-flex align-items-center">
                <a href="" routerLink="nosotros">Nosotros</a>
                <a href="" class="ms-2" routerLink="productos">Productos</a>
                <a href="" class="ms-2" routerLink="contacto">Contacto</a>
                <button class="btn-verde btn ms-4" routerLink="/login">Ingresar</button>
                <div class="d-flex align-items-end">
                    <img src="../../../assets/img/carrito-de-compras.png" alt="" class="ms-4" width= "40px" routerLink="/carrito">
                    <h6 class="ms-1">{{obtenerTamanioCarrito()}}</h6>
                </div>
            </div>
        </div>
    </nav>
</header>
