h1{
    color: #fff;
}

.pendiente{
    color: #ffaa00;
}

.listo{
    color: var(--verde);
}

.noCompletada{
    color: #dc3545;
}


@media (max-width: 950px) {
    button{
        margin-top: 7px;
    }

}