<div class="container mt-4 aparecer pb-2">
    <div class="d-flex align-items-center justify-content-between">
        <h1>Editar producto</h1>
        <a routerLink="/productos">Volver</a>
    </div>
    <form (ngSubmit)="editarProducto()">
        <div class="row mt-4">
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Ingrese el nombre del producto</mat-label>
                    <input type="text" matInput required name="nombre" [(ngModel)]="producto.name">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="w-100">
                    <mat-label>Ingrese el precio del producto</mat-label>
                    <input type="number" matInput required name="precio" [(ngModel)]="producto.price">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="w-100">
                    <mat-label>Ingrese el stock disponible</mat-label>
                    <input type="number" matInput required name="stock" [(ngModel)]="producto.stock">
                </mat-form-field>
            </div>
        </div>
          <div class="row mt-2">
            <div class="col-md-10">
                <mat-form-field class="w-100">
                    <mat-label>Ingrese la url de la imagen del producto</mat-label>
                    <input type="text" matInput required name="url" [(ngModel)]="producto.imgUrl">
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="w-100">
                  <mat-label>Talla</mat-label>
                   <mat-select [(value)]="producto.size">
                       <mat-option value="s">S</mat-option>
                       <mat-option value="m">M</mat-option>
                       <mat-option value="l">L</mat-option>
                       <mat-option value="xl">XL</mat-option>
                       <mat-option>Consulta</mat-option>
                   </mat-select>
                </mat-form-field>
            </div> 
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <mat-form-field class="w-100">
                    <mat-label>Descripcion del producto</mat-label>
                    <textarea type="text" name="contenido" required matInput rows="17" [(ngModel)]="producto.description"></textarea>
                  </mat-form-field>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                <button type="submit" class="btn btn-verde">Editar producto</button>
                <a class="btn btn-outline-verde ms-2" (click)="limpiarCampos()">Limpiar campos</a>
            </div>
        </div>
    </form>
</div>