<app-navbar></app-navbar>
<div class="fondo"></div>
<section id="banner" class="aparecer">
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-md-4 absolute text-center">
                    <h1 class="fs-1">Clothing store</h1>
                    <p class="mt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Aliquid amet harum dolore sunt eos hic architecto culpa rerum dolores voluptatem ipsa,
                        fugiat ut ex mollitia maxime, consectetur odio id nesciunt.</p>
                    <button class="btn-verde btn mt-1" routerLink="/productos">Ver productos</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-4 pb-4 aparecer" id="nosotros">
    <div class="container">
        <h1 class="text-center fs-1 green" style="color:#000">Clothing store</h1>
        <div class="row mt-2 align-items-start">
            <div class="col-md-12 p-3 text-center">
                <p class="parrafo fs-6 ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores non omnis,
                    placeat,
                    consectetur eos laboriosam voluptatem distinctio dolorum veritatis accusantium odit!
                    Voluptatum libero autem eveniet nihil magnam nostrum facere ut. rem ipsum, dolor sit amet
                    consectetur adipisicing elit.
                    Asperiores non omnis, placeat,
                    consectetur eos laboriosam voluptatem distinctio dolorum veritatis accusantium odit!
                    Voluptatum libero autem eveniet nihil magnam nostrum facere ut.</p>
                <button class="btn btn-verde mt-1 " routerLink="/contacto">Contactanos</button>
            </div>
        </div>
    </div>
</section>
<section class="pt-4 aparecer">
    <div class="container ">
        <h1 class="fs-1 text-center mb-4">Galeria</h1>
    </div>
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-md-3 p-0">
                <div class="img-container">
                    <img src="../../../assets/img/galeria1.jpg" alt="" >
                </div>
            </div>
            <div class="col-md-3 p-0">
                <div class="img-container">
                    <img src="../../../assets/img/galeria2.jpg" alt="" >
                </div>
            </div>
            <div class="col-md-3 p-0">
                <div class="img-container">
                    <img src="../../../assets/img/galeria3.jpg" alt="" >
                </div>
            </div>
            <div class="col-md-3 p-0">
                <div class="img-container">
                    <img src="../../../assets/img/galeria4.jpg" alt="" >
                </div>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-md-3 p-0">
                <div class="img-container">
                    <img src="../../../assets/img/galeria5.jpg" alt="" >
                </div>
            </div>
            <div class="col-md-3 p-0">
                <div class="img-container">
                    <img src="../../../assets/img/galeria6.jpg" alt="" >
                </div>
            </div>
            <div class="col-md-3 p-0">
                <div class="img-container">
                    <img src="../../../assets/img/galeria7.jpg" alt="" >
                </div>
            </div>
            <div class="col-md-3 p-0">
                <div class="img-container">
                    <img src="../../../assets/img/galeria8.jpg" alt="" >
                </div>
            </div>
        </div>
    </div>
</section>