<app-navbar></app-navbar>
<div class="container mt-4 aparecer mb-4">
  <h1>Carrito</h1>
  <table class="table mt-4 p-2 text-center ">
    <thead>
      <tr>
        <th scope="col">ID producto</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of obtenerProductosCarrito(); let i = index">
        <td>{{producto.code}}</td>
        <td>{{producto.name}}</td>
        <td>{{producto.price}}$</td>
        <td>
          <button class="btn btn-verde " [routerLink]="'/ver-producto/'+producto.code">Ver producto</button>
          <mat-icon class="mat-18 ms-3" (click)="eliminarItem(i)">delete</mat-icon>
        </td>
      </tr>
      <tr class="table-success">
        <td>TOTAL</td>
        <td></td>
        <td>{{obtenerTotal()}}$</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="row mt-4 align-items-center">
    <form (ngSubmit)="realizarCompra()">
      <mat-slide-toggle (toggleChange)="envioDomicilio = !envioDomicilio"><span class="ms-1">Envio a
          domicilio</span></mat-slide-toggle>
      <button class="btn btn-verde ms-5">Registrar compra</button>
      <div class="row mt-4 aparecer" *ngIf="envioDomicilio">
        <div class="col-md-3">
          <mat-form-field class="w-100">
            <mat-label>Provincia</mat-label>
            <mat-select [(value)]="compra.residence.province">
              <mat-option value="Buenos Aires">Buenos Aires</mat-option>
              <mat-option value="Catamarca">Catamarca</mat-option>
              <mat-option value="Chaco">Chaco</mat-option>
              <mat-option value="Chubut">Chubut</mat-option>
              <mat-option value="Cordoba">Cordoba</mat-option>
              <mat-option value="Corrientes">Corrientes</mat-option>
              <mat-option value="Entre rios">Entre rios</mat-option>
              <mat-option value="Formosa">Formosa</mat-option>
              <mat-option value="Jujuy">Jujuy</mat-option>
              <mat-option value="La pampa">La pampa</mat-option>
              <mat-option value="La rioja">La rioja</mat-option>
              <mat-option value="Mendoza">Mendoza</mat-option>
              <mat-option value="Misiones">Misiones</mat-option>
              <mat-option value="Neuquen">Neuquen</mat-option>
              <mat-option value="Río Negro">Río Negro</mat-option>
              <mat-option value="Salta">Salta</mat-option>
              <mat-option value="San Juan">San Juan</mat-option>
              <mat-option value="San Luis">San Luis</mat-option>
              <mat-option value="Santa Cruz">Santa Cruz</mat-option>
              <mat-option value="Santa Fe">Santa Fe</mat-option>
              <mat-option value="Santiago del Estero">Santiago del Estero</mat-option>
              <mat-option value="Tierra del Fuego">Tierra del Fuego</mat-option>
              <mat-option value="Tucumán">Tucumán</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="w-100">
            <mat-label>Localidad</mat-label>
            <input type="text" matInput name="localidad" [(ngModel)]="compra.residence.locality">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="w-100">
            <mat-label>Calle</mat-label>
            <input type="text" matInput name="calle" [(ngModel)]="compra.residence.street">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="w-100">
            <mat-label>Numero de domicilio</mat-label>
            <input type="number" matInput name="numero" [(ngModel)]="compra.residence.residenceNumber">
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <button class="btn btn-verde" (click)="toggleInstrucciones()">Instrucciones</button>
    <button class="btn btn-outline-verde ms-4" (click)="togglePreguntas()">Preguntas</button>
  </div>
  <div class="row mt-4 align-items-center justify-content-center">
    <div class="col-md-6 mb-3 aparecer" *ngIf="verInstrucciones">
      <mat-card class="p-3 text-center">
        <h1 class="text-center">Instrucciones</h1>
        <mat-divider></mat-divider>
        <p class="mt-2"><span>1. </span>Complete los campos y registre la compra.</p>
        <p class="mt-3"><span>2. </span>Si todo sale bien, la compra quedara registrada y la podra ver en la seccion
          'Mis compras'</p>
        <p class="mt-3"><span>3. </span>En la seccion dicha podra ver y descargar el ticket de su compra, tambien tendra
          informacion para realizar el pago</p>
        <p class="mt-3"><span>4. </span>Una vez realizado el pago, adjuntar a emailtienda@hotmail.com, el comprobante de
          pago junto con el ticket de compra</p>
        <p class="mt-3"><span>5. </span>Cuando nuestros administradores revisen su pago, su compra pasara a ser 'Paga' y
          solo resta esperar
          a que su estado se encuentre en 'Listo' para que pueda venir a buscarla, o para que podamos enviarsela</p>
      </mat-card>
    </div>
    <div class="col-md-6 mb-3" *ngIf="verPreguntas">
      <mat-card class="p-3 text-center aparecer">
        <h1 class="text-center">Preguntas frecuentes</h1>
        <mat-divider></mat-divider>
        <div class="p-2">
          <p class="mt-2 text-center"><span>¿</span>Que metodos de pago poseen<span>?</span></p>
          <p class="mt-2">Actualmente solo contamos con transferencia bancaria.</p>
        </div>
        <mat-divider></mat-divider>
        <div class="p-2">
          <p class="mt-2 text-center"><span>¿</span>Puedo realizar el pago cuando voy a retirar al local<span>?</span>
          </p>
          <p class="mt-2">Si, puede realizar el pago en el local.</p>
        </div>
        <mat-divider></mat-divider>
        <div class="p-2">
          <p class="mt-2 text-center"><span>¿</span>Cuanto tiempo tardara en cambiar el estado de la
            compra<span>?</span></p>
          <p class="mt-2">Eso dependera de muchos factores como el stock, y el tiempo para tomar su pedido, si cree que
            paso mucho tiempo puede
            realizar un reclamo en la seccion 'Contacto'
          </p>
        </div>
        <mat-divider></mat-divider>
        <div class="p-2">
          <p class="mt-2 text-center"><span>¿</span>Cuando cambiara el estado de mi compra<span>?</span></p>
          <p class="mt-2">Si usted eligio el envio, el estado de su compra cambiara cuando se encuentre pago, y listo
            para enviar. En caso contrario
            si elige venir a retirar su pedido, el estado cambiara cuando su pedido se encuentre listo, sin la necesidad
            de estar pago.
          </p>
        </div>
        <mat-divider></mat-divider>
      </mat-card>
    </div>
  </div>
</div>